[submodule "emacs.d/lisp/fixed-point-completion"]
    path = emacs.d/lisp/fixed-point-completion
    url = git://github.com/smithzvk/fixed-point-completion.git
[submodule "emacs.d/lisp/e-sink"]
    path = emacs.d/lisp/e-sink
    url = git://github.com/lewang/e-sink.git
[submodule "emacs.d/snippets/latex-mode/yasnippets-latex"]
    path = emacs.d/snippets/latex-mode/yasnippets-latex
    url = git://github.com/madsdk/yasnippets-latex.git
[submodule "emacs.d/ASynK"]
    path = emacs.d/ASynK
    url = git://github.com/skarra/ASynK.git
[submodule "emacs.d/lisp/offlineimap-el"]
    path = emacs.d/lisp/offlineimap-el
    url = git://git.naquadah.org/offlineimap-el.git
[submodule "emacs.d/lisp/emms-player-mpv"]
	path = emacs.d/lisp/emms-player-mpv
	url = https://github.com/dochang/emms-player-mpv.git
[submodule "emacs.d/lisp/cedet"]
	path = emacs.d/lisp/cedet
	url = http://git.randomsample.de/cedet.git
