[submodule "emacs.d/lisp/fixed-point-completion"]
	path = emacs.d/lisp/fixed-point-completion
	url = git://github.com/smithzvk/fixed-point-completion.git
[submodule "emacs.d/lisp/e-sink"]
	path = emacs.d/lisp/e-sink
	url = git://github.com/lewang/e-sink.git
[submodule "emacs.d/snippets/latex-mode/yasnippets-latex"]
	path = emacs.d/snippets/latex-mode/yasnippets-latex
	url = git://github.com/madsdk/yasnippets-latex.git
[submodule "emacs.d/ASynK"]
	path = emacs.d/ASynK
	url = git://github.com/skarra/ASynK.git
[submodule "emacs.d/lisp/cedet"]
	path = emacs.d/lisp/cedet
	url = http://git.code.sf.net/p/cedet/git
[submodule "emacs.d/lisp/org-wiki"]
	path = emacs.d/lisp/org-wiki
	url = https://github.com/caiorss/org-wiki
[submodule "emacs.d/org-html-themes"]
	path = emacs.d/org-html-themes
	url = https://github.com/fniessen/org-html-themes.git
[submodule "emacs.d/lisp/tmtxt-dired-async"]
	path = emacs.d/lisp/tmtxt-dired-async
	url = https://github.com/tmtxt/tmtxt-dired-async.git
[submodule "emacs.d/lisp/tmtxt-async-tasks"]
	path = emacs.d/lisp/tmtxt-async-tasks
	url = https://github.com/tmtxt/tmtxt-async-tasks.git
[submodule "emacs.d/lisp/emacs-webkit"]
	path = emacs.d/lisp/emacs-webkit
	url = git@github.com:akirakyle/emacs-webkit.git
[submodule "sway/swaymonad"]
	path = sway/swaymonad
	url = https://github.com/nicolasavru/swaymonad.git
