[submodule "emacs.d/fixed-point-completion"]
    path = emacs.d/fixed-point-completion
    url = git://github.com/smithzvk/fixed-point-completion.git
[submodule "emacs.d/e-sink"]
    path = emacs.d/e-sink
    url = git://github.com/lewang/e-sink.git
[submodule "emacs.d/snippets/latex-mode/yasnippets-latex"]
    path = emacs.d/snippets/latex-mode/yasnippets-latex
    url = git://github.com/madsdk/yasnippets-latex.git
[submodule "emacs.d/wanderlust"]
    path = emacs.d/wanderlust
    url = git://github.com/dmj/wanderlust.git
[submodule "emacs.d/ASynK"]
    path = emacs.d/ASynK
    url = git://github.com/skarra/ASynK.git
[submodule "emacs.d/offlineimap-el"]
    path = emacs.d/offlineimap-el
    url = git://git.naquadah.org/offlineimap-el.git
