emacs.d/conf/private.el
emacs.d/url/*
emacs.d/custom-lisp/*
emacs.d/auto-save-list/*
emacs.d/cache/*
emacs.d/tramp
emacs.d/emms/*
emacs.d/elpa/*
emacs.d/.org-id-locations
emacs.d/bookmarks
emacs.d/abbrev_defs
emacs.d/.emms-history
emacs.d/oauth2.plstore
xmonad/xmonad.errors
xmonad/xmonad.hi
xmonad/xmonad.o
xmonad/xmonad-x86_64-linux
xmonad/history
